<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <packageSources>
        <clear />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
        <add key="StackworxGitlab" value="https://gitlab.com/api/v4/groups/2721445/-/packages/nuget/index.json" />
    </packageSources>

    <packageSourceMapping>
        <packageSource key="nuget.org">
            <package pattern="*" />
        </packageSource>
        <packageSource key="StackworxGitlab">
            <package pattern="Stackworx.*" />
        </packageSource>
    </packageSourceMapping>

    <packageSourceCredentials>
        <StackworxGitlab>
            <add key="Username" value="gitlab+deploy-token-574799" />
            <add key="ClearTextPassword" value="WMGx5j2HxaqX-M-ApPLj" />
        </StackworxGitlab>
    </packageSourceCredentials>
</configuration>